html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';*/
  font-family: az_ea_font,"Segoe UI",az_font,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
}

#app.resizing {
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}