.light {
  --top-bar-bg-color: #414141;
  
  --top-bar-btn-txt-color: rgba(255, 255, 255, 0.8);
  --top-bar-btn-hover: rgba(255, 255, 255, 0.3);
  --top-bar-btn-hover-txt-color: rgba(255, 255, 255, 1);
  --top-bar-btn-on: rgba(255, 255, 255, 0.2);
  --top-bar-btn-on-txt-color: rgba(255, 255, 255, 1);
  --top-bar-btn-active: rgba(255, 255, 255, 0.1);
  --top-bar-btn-active-txt-color: rgba(255, 255, 255, 0.4);

  --bottom-bar-bg-color: #414141;
  --bottom-bar-color: rgb(255, 255, 255); 
}

.dark {
  --top-bar-bg: #1c1c1c;
  --top-bar-txt: #ffffff;

  --top-bar-btn-bg: transparent;
  --top-bar-btn-txt: rgba(255, 255, 255, 0.75);
  --top-bar-btn-bg-hover: rgba(255, 255, 255, 0.35);
  --top-bar-btn-txt-hover: rgba(255, 255, 255, 0.75);
  --top-bar-btn-bg-active: rgba(255, 255, 255, 0.2);
  --top-bar-btn-txt-active: rgba(255, 255, 255, 1);
  --top-bar-btn-bg-toggle: rgba(255, 255, 255, 0.2);
  --top-bar-btn-txt-toggle: rgba(255, 255, 255, 1);
  --top-bar-btn-bg-toggle-hover: rgba(255, 255, 255, 0.25);
  --top-bar-btn-txt-toggle-hover: rgba(255, 255, 255, 1);
  --top-bar-btn-bg-toggle-active: rgba(255, 255, 255, 0.1);
  --top-bar-btn-txt-toggle-active: rgba(255, 255, 255, 0.4);
  --top-bar-btn-bg-tab: rgba(255, 255, 255, 1);
  --top-bar-btn-txt-tab: rgb(0, 0, 0, 1);
  --top-bar-btn-bg-tab-hover: rgba(255, 255, 255, 1);
  --top-bar-btn-txt-tab-hover: rgb(0, 0, 0, 0.5);
  --top-bar-btn-bg-tab-active: rgba(255, 255, 255, 0.9);
  --top-bar-btn-txt-tab-active: rgba(0, 0, 0, 0.8);

  --top-bar-btn-border-tooltip: rgba(255, 255, 255, 0.6);
  --top-bar-btn-txt-tooltip: rgba(255, 255, 255, 0.8);
  --top-bar-btn-bg-tooltip: rgb(60, 60, 60);

  --search-bg-color:#c7c7c7;
  --search-placeholder-color: grey;
  --search-text-color: #2c2c2c;

  --splitter-bar-bg: rgb(224, 224, 224);

  --bottom-bar-bg: #b1b1b1;
  --bottom-bar-txt: #1c1c1c;

  /*Splitter */
--color-primary: #10b981;
  --color-primary-hover: #34d399;
  --color-bg-app: #f3f4f6;
  --color-bg-main: #f8fafc;
  --color-bg-white: #ffffff;
  --color-border: #e5e7eb;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
  --splitter-height: 8px;
  --header-height: 64px;
}