:root {
  /* dimensions */
  --top-bar-height: 40px;
  
  /* status bar */
  --status-bar-height: 30px;

  /* annimations */
  --transition-fast: 0.2s;
  --transition-medium: 0.5s;
  --transition-slow: 1s;
}